<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="zh-CN" dir="ltr">
<head th:replace="front/fragment :: head"></head>


<body th:class="|page ${session.lang_session}|" style="display: block">
<!--script>
    $(function(){
        if($("body").attr("class").indexOf("zh_CN")==-1){
            window.location.href="/";
        }else{
            $("body").css({"display":"block"});
        }
    })
</script-->

<!-- Loader
============================================= -->
<!--div class="loader" th:replace="front/fragment :: loader"></div>
<div class="loader-progress"><span>0%</span></div-->
<!-- .loader end -->


<!-- Mobile Menu Toggle Trigger
============================================= -->
<div class="menu-mobile-toggle">
    <span></span>
    <span></span>
    <span></span>
</div>
<div class="menu-mobile-mask"></div>
<!-- .menu-mobile-toggle end -->


<div class="wrapper">

    <!-- Header Area
    ============================================= -->
    <header class="header-area transition" th:replace="front/fragment :: header">


    </header>
    <div class="header-inner"></div>


    <!-- Placeholder & Content Wrapper
      ====================================================== -->
    <div class="app-page-banner-placeholder"></div>


    <div id="app-page-content-wrapper">

        <section class="space-sm "
                 >

            <div class="container relative">

                <div class="row">

                    <div class="col-md-12">

                        <h2 class="heading-overlay t-l full" data-text=""><em th:utext="#{agrr.service.form.title}">注册申请AGRR认证服务商<span
                                class="sub">&nbsp;&nbsp;*为必填项目</span></em></h2>

                        <div class="app-page-content-show">


                            <!-- ///////////////////////   Content  Begin ////////////////////////// -->

                            <!--
                            如果后台使用select的change事件来异步更改自定义的select表单，则在回调时加上初始化样式的函数：
                            $( document ).customSelectInit();

                            如果无法运行，需要写成
                            jQuery( document ).customSelectInit();


                            后台传输的中国省份联动信息，请直接修改下面的 data-ajax-dynamic-dd-json 属性的json文件地址

                            -->


                            <div class="app-general-form-container">
                                <form id="serviceForm" method="post" th:action="@{serviceForm}" th:object="${obj}" enctype="multipart/form-data">
                                    <input name="type" type="hidden" value="SERVICE"/>
                                  <div id="register01">
                                    <div class="row">
                                        <div class="col-sm-4 t-l" th:utext="#{agrr.service.type}">
                                            认证服务商类型
                                        </div>

                                        <div class="col-sm-8 t-l">
                                            <!--div class="controls">
                                                <input type="text" class="float-label" name="verifyType">
                                                <label th:utext="#{agrr.service.type.message}">汽车玻璃专业安装替换服务点</label>

                                            </div-->
                                            <div style="margin-bottom: 1.09375rem;">
                                                <select name="verifyType" class="form-control" style="margin-top:0px;">
                                                    <option value="汽车玻璃安装替换店" selected="selected" th:utext="#{service_select0}">汽车玻璃安装替换店</option>
                                                    <option value="独立汽车维修厂" th:utext="#{service_select1}">独立汽车维修厂</option>
                                                    <option value="连锁快修店" th:utext="#{service_select2}">连锁快修店</option>
                                                    <option value="4S店" th:utext="#{service_select3}">4S店</option>
                                                    <option value="其他汽车维修服务商" th:utext="#{service_select4}">其他汽车维修服务商</option>
                                                </select>
                                            </div>



                                        </div>

                                    </div>
                                    <!-- .row end -->
                                      <div class="row hideInput">
                                          <div class="col-sm-4 t-l">
                                              用户名 <span class="controls-im">*</span>
                                          </div>

                                          <div class="col-sm-8 t-l">
                                              <div class="controls">
                                                  <input id="username" type="text" class="float-label reqiured" name="username">

                                              </div>

                                          </div>

                                      </div>
                                      <div class="fa fa-times" id="usernemTip" style="position: absolute; width: 100px;height: 35px;color:red;left: 770px;top:75px;display: none"> 用户名已存在</div>
                                      <div class="row hideInput">
                                          <div class="col-sm-4 t-l">
                                              密码 <span class="controls-im">*</span>
                                          </div>

                                          <div class="col-sm-8 t-l">
                                              <div class="controls">
                                                  <input id="password" type="password" class="float-label reqiured" name="password">

                                              </div>

                                          </div>

                                      </div>
                                    <div class="row">
                                        <div class="col-sm-4 t-l" th:utext="#{agrr.service.name}">
                                            联系人姓名 <span class="controls-im">*</span>
                                        </div>

                                        <div class="col-sm-8 t-l">
                                            <div class="controls">
                                                <input type="text" class="float-label reqiured" name="name">

                                            </div>

                                        </div>

                                    </div>
                                    <!-- .row end -->


                                    <div class="row">
                                        <div class="col-sm-4 t-l" th:utext="#{agrr.service.phone}">
                                            联系人电话 <span class="controls-im">*</span>
                                        </div>

                                        <div class="col-sm-8 t-l">
                                            <div class="controls">
                                                <input type="tel" class="float-label reqiured" name="tel">

                                            </div>

                                        </div>

                                    </div>
                                    <!-- .row end -->



                                    <div class="row">
                                        <div class="col-sm-4 t-l" th:utext="#{agrr.service.email}">
                                            电子邮箱
                                        </div>

                                        <div class="col-sm-8 t-l">
                                            <div class="controls">
                                                <input id="email" type="email" class="float-label reqiured" name="email">

                                            </div>

                                        </div>

                                    </div>
                                    <!-- .row end -->
                                      <div class="row">
                                          <div class="col-sm-4 t-l">
                                              微信
                                          </div>

                                          <div class="col-sm-8 t-l">
                                              <div class="controls">
                                                  <input type="text" class="float-label" name="wx">

                                              </div>

                                          </div>

                                      </div>
                                      <!-- .row end -->



                                    <div class="row">
                                        <div class="col-sm-4 t-l" th:utext="#{agrr.service.company.name}">
                                            公司名称 <span class="controls-im">*</span>
                                        </div>

                                        <div class="col-sm-8 t-l">
                                            <div class="controls">
                                                <input type="text" class="float-label reqiured" name="companyName">

                                            </div>

                                        </div>

                                    </div>
                                    <!-- .row end -->
                                      <div class="row">
                                          <div class="col-sm-4 t-l" >
                                              法人代表 <span class="controls-im">*</span>
                                          </div>

                                          <div class="col-sm-8 t-l">
                                              <div class="controls">
                                                  <input type="text" class="float-label" name="representative">

                                              </div>

                                          </div>

                                      </div>
                                      <!-- .row end -->
                                      <div class="row">
                                          <div class="col-sm-4 t-l">
                                              上级经销商 <span class="controls-im">*</span>
                                          </div>

                                          <div class="col-sm-8 t-l">
                                              <div class="controls">
                                                  <input  class="float-label" name="distributor">

                                              </div>

                                          </div>

                                      </div>
                                      <!-- .row end -->
                                      <div class="row">
                                          <div class="col-sm-4 t-l">
                                              上级经销商系统编码 <span class="controls-im">*</span>
                                          </div>

                                          <div class="col-sm-8 t-l">
                                              <div class="controls">
                                                  <input  class="float-label" name="distributorCode">

                                              </div>

                                          </div>

                                      </div>
                                      <!-- .row end -->
                                      <div class="row">
                                          <div class="col-sm-4 t-l" >
                                              经营年限/年 <span class="controls-im">*</span>
                                          </div>

                                          <div class="col-sm-8 t-l">
                                              <div class="controls">
                                                  <input type="text" class="float-label" name="years">

                                              </div>

                                          </div>

                                      </div>
                                      <!-- .row end -->


                                    <div class="row">
                                        <div class="col-sm-4 t-l">
                                            营业执照
                                        </div>

                                        <div class="col-sm-4 t-l">
                                            <div class="controls-file-container t-l">
                                                <input type="file" id="my-file" name="file" class="reqiured">
                                                <label tabindex="0" for="my-file" class="controls-file-trigger"
                                                       th:utext="#{agrr.service.upload}"><i class="fa fa-cloud-upload"
                                                                                            aria-hidden="true"></i>上传营业执照</label>
                                            </div>
                                            <p class="controls-file-return t-l"></p>

                                        </div>
                                        <div class="col-sm-4 t-l">
                                            <div class="controls-file-container t-l">
                                                <input type="file" id="otherfile" name="otherfile">
                                                <label tabindex="0" for="otherfile" class="controls-file-trigger"
                                                ><i class="fa fa-cloud-upload"
                                                    aria-hidden="true"></i>上传店铺图片等其他资料</label>
                                            </div>
                                            <p class="controls-file-return t-l">可支持rar,zip等压缩文件格式</p>

                                        </div>
                                        <div style="display: none">
                                            <div class="controls-file-container t-l">
                                                <input type="file" id="contactfile" name="contactfile">
                                                <label tabindex="0" for="contactfile" class="controls-file-trigger"
                                                ><i class="fa fa-cloud-upload"
                                                    aria-hidden="true"></i>上传店铺图片等其他资料</label>
                                            </div>
                                            <p class="controls-file-return t-l">可支持rar,zip等压缩文件格式</p>

                                        </div>


                                    </div>
                                    <!-- .row end -->


                                    <div class="row">
                                        <div class="col-sm-4 t-l" th:utext="#{agrr.service.company.code}">
                                            统一社会信用代码 <span class="controls-im">*</span>
                                        </div>

                                        <div class="col-sm-8 t-l">
                                            <div class="controls">
                                                <input type="text" class="float-label reqiured" name="companyCode">

                                            </div>

                                        </div>

                                    </div>
                                    <!-- .row end -->



                                    <div class="row">
                                        <div class="col-sm-4 t-l" th:utext="#{agrr.service.shop.count}">
                                            店铺数量 <span class="controls-im">*</span>
                                        </div>

                                        <div class="col-sm-8 t-l">
                                            <div class="controls">
                                                <input type="text" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" class="float-label reqiured" name="shopCount">

                                            </div>

                                        </div>

                                    </div>
                                    <!-- .row end -->





                                    <div id="app-add-more--forms"></div>



                                      <div class="row">
                                          <a href="javascript:void(0);" onclick="slideTable(1)" style="float: right;color: #0000FF">门店信息>></a>
                                      </div>
                                </div>
                                    <!--<门店信息>-->
                                    <div id="register02" style="display: none">
                                        <div class="row">
                                            <div class="col-sm-4 t-l" th:utext="#{agrr.service.address}">
                                                经营地址 <span class="controls-im">*</span>
                                            </div>

                                            <div class="col-sm-8 t-l"
                                                 th:if="${#strings.toString(session.lang_session) != 'zh_CN'}">
                                                <div class="controls">
                                                    <input type="text" class="float-label reqiured" name="address">

                                                </div>

                                            </div>

                                            <div class="col-sm-8 t-l"
                                                 th:if="${#strings.toString(session.lang_session) == 'zh_CN'}">


                                                <div class="controls custom-select">
                                                    <label>
                                                        <select id="dynamic-dd-country" name="country">

                                                            <option value="中国" selected>中国</option>
                                                        </select>

                                                    </label>

                                                </div>


                                                <div class="controls custom-select">
                                                    <label>
                                                        <select
                                                                id="dynamic-dd-province"
                                                                name="province"
                                                                placeholder="省份"
                                                                data-ajax-dynamic-dd-json="/front_static/json/china.json"
                                                                data-ajax-dynamic-dd-method="GET"
                                                                data-ajax-dynamic-dd-event="change"
                                                                data-ajax-dynamic-dd-data=""
                                                                data-ajax-dynamic-dd-associated="#dynamic-dd-city">

                                                            <option value="省份">省份</option>

                                                        </select>

                                                    </label>
                                                </div>


                                                <div class="controls custom-select">
                                                    <label>
                                                        <select name="city" id="dynamic-dd-city"
                                                                placeholder="城市">
                                                            <option value="城市">城市</option>
                                                        </select>

                                                    </label>

                                                </div>

                                                <br>

                                                <div class="controls">
                                                    <input type="text" class="float-label" name="street" placeholder="街道">

                                                    <a href="javascript:" class="app-add-more-add"><i
                                                            class="fa fa-plus-circle"
                                                            aria-hidden="true"></i></a>


                                                </div>
                                                <div class="controls">
                                                    <input type="text" class="float-label reqiured" name="postCode">
                                                    <label>邮编</label>

                                                </div>


                                            </div>

                                        </div>
                                        <!-- .row end -->
                                        <!-- .row end -->
                                        <div class="row">
                                            <div class="col-sm-4 t-l">
                                                采购负责人 <span class="controls-im">*</span>
                                            </div>

                                            <div class="col-sm-8 t-l">
                                                <div class="controls">
                                                    <input  class="float-label" name="purchaser">

                                                </div>

                                            </div>

                                        </div>
                                        <!-- .row end -->

                                        <div class="row">
                                            <div class="col-sm-4 t-l">
                                                采购负责人电话 <span class="controls-im">*</span>
                                            </div>

                                            <div class="col-sm-8 t-l">
                                                <div class="controls">
                                                    <input type="tel"  class="float-label" name="purchaserNumber">

                                                </div>

                                            </div>

                                        </div>
                                        <!-- .row end -->
                                        <div class="row">
                                            <div class="col-sm-4 t-l" th:utext="#{agrr.service.shop.size}">
                                                主要门店面积（平方米） <span class="controls-im">*</span>
                                            </div>

                                            <div class="col-sm-8 t-l">
                                                <div class="controls">
                                                    <input type="text" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" class="float-label " name="shopSize">

                                                </div>

                                            </div>

                                        </div>
                                        <!-- .row end -->


                                        <div class="row">
                                            <div class="col-sm-4 t-l" th:utext="#{agrr.service.depot.size}">
                                                主要门店仓库面积（平方米） <span class="controls-im">*</span>
                                            </div>

                                            <div class="col-sm-8 t-l">
                                                <div class="controls">
                                                    <input type="text" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" class="float-label " name="depotSize">

                                                </div>

                                            </div>

                                        </div>
                                        <!-- .row end -->
                                        <div class="row">
                                            <div class="col-sm-4 t-l">
                                                门店性质(自有/租赁） <span class="controls-im">*</span>
                                            </div>

                                            <div class="col-sm-8 t-l">
                                                <div class="controls">
                                                    <input  class="float-label" name="storeproperty">

                                                </div>

                                            </div>

                                        </div>
                                        <!-- .row end -->
                                        <div class="row">
                                            <div class="col-sm-4 t-l">
                                                房租/年/元 <span class="controls-im">*</span>
                                            </div>

                                            <div class="col-sm-8 t-l">
                                                <div class="controls">
                                                    <input  class="float-label" name="rent">

                                                </div>

                                            </div>

                                        </div>
                                        <!-- .row end -->


                                        <div class="row">
                                            <div class="col-sm-4 t-l" th:utext="#{agrr.service.service.type}">
                                                目前主营业务 <span class="controls-im">*</span>
                                            </div>

                                            <div class="col-sm-8 t-l">
                                                <div class="controls">
                                                    <input type="text" class="float-label" name="serviceType">

                                                </div>

                                            </div>

                                        </div>
                                        <!-- .row end -->
                                        <div class="row">
                                            <div class="col-sm-4 t-l">
                                                销售品牌 <span class="controls-im">*</span>
                                            </div>

                                            <div class="col-sm-8 t-l">
                                                <div class="controls">
                                                    <input  class="float-label" name="salesbrand">

                                                </div>

                                            </div>

                                        </div>
                                        <!-- .row end -->
                                        <div class="row">
                                            <div class="col-sm-4 t-l">
                                                销售辐射区域 <span class="controls-im">*</span>
                                            </div>

                                            <div class="col-sm-8 t-l">
                                                <div class="controls">
                                                    <input  class="float-label" name="salesarea">

                                                </div>

                                            </div>

                                        </div>
                                        <!-- .row end -->


                                        <div class="row">
                                            <div class="col-sm-4 t-l" th:utext="#{agrr.service.slot.count}">
                                                有几个安装工位 <span class="controls-im">*</span>
                                            </div>

                                            <div class="col-sm-8 t-l">
                                                <div class="controls">
                                                    <input type="text" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" class="float-label" name="slotCount">

                                                </div>

                                            </div>

                                        </div>
                                        <!-- .row end -->


                                        <div class="row">
                                            <div class="col-sm-4 t-l" th:utext="#{agrr.service.tech.count}">
                                                有几个专业汽车玻璃安装技术 <span class="controls-im">*</span>
                                            </div>

                                            <div class="col-sm-8 t-l">
                                                <div class="controls">
                                                    <input type="text" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" class="float-label" name="techCount">

                                                </div>

                                            </div>

                                        </div>
                                        <!-- .row end -->


                                        <div class="row">
                                            <div class="col-sm-4 t-l" th:utext="#{agrr.service.tran.count}">
                                                有几辆工具车 <span class="controls-im">*</span>
                                            </div>

                                            <div class="col-sm-8 t-l">
                                                <div class="controls">
                                                    <input type="text" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" class="float-label" name="tranCount">

                                                </div>

                                            </div>

                                        </div>
                                        <!-- .row end -->
                                        <div class="row">
                                            <a href="javascript:void(0);" onclick="slideTable(-1)" style="float: left;color: #0000FF"><<基本信息</a>
                                            <a href="javascript:void(0);" onclick="slideTable(1)" style="float: right;color: #0000FF">经营信息>></a>
                                        </div>
                                    </div>
                                    <!--经营状况-->
                                    <div id="register03" style="display: none">
                                        <div class="row">
                                            <div class="col-sm-4 t-l">
                                                采购金额/年 <span class="controls-im">*</span>
                                            </div>

                                            <div class="col-sm-8 t-l">
                                                <div class="controls">
                                                    <input type="text" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" class="float-label" name="purchase">

                                                </div>

                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 t-l">
                                                销售金额/年 <span class="controls-im">*</span>
                                            </div>

                                            <div class="col-sm-8 t-l">
                                                <div class="controls">
                                                    <input type="text" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" class="float-label" name="sales">

                                                </div>

                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 t-l">
                                                采购片数/年 <span class="controls-im">*</span>
                                            </div>

                                            <div class="col-sm-8 t-l">
                                                <div class="controls">
                                                    <input type="text" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" class="float-label" name="purchaseNumber">

                                                </div>

                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 t-l">
                                                主要采购渠道 <span class="controls-im">*</span>
                                            </div>

                                            <div class="col-sm-8 t-l">
                                                <div class="controls">
                                                    <input type="text" class="float-label" name="channel">

                                                </div>

                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 t-l">
                                                库存片数 <span class="controls-im">*</span>
                                            </div>

                                            <div class="col-sm-8 t-l">
                                                <div class="controls">
                                                    <input type="text" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" class="float-label" name="stock">

                                                </div>

                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 t-l">
                                                库存占比 <span class="controls-im">*</span>
                                            </div>

                                            <div class="col-sm-8 t-l">
                                                <div class="controls">
                                                    <input type="text" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" class="float-label" name="stockRate">

                                                </div>

                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 t-l" >
                                                向终端车主销售加价率 <span class="controls-im">*</span>
                                            </div>

                                            <div class="col-sm-8 t-l">
                                                <div class="controls">
                                                    <input type="text" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" class="float-label" name="markupRate">

                                                </div>

                                            </div>

                                        </div>
                                        <div class="row" style="display: none">
                                            <div class="col-sm-4 t-l" >
                                                审核状态 <span class="controls-im">*</span>
                                            </div>

                                            <div class="col-sm-8 t-l">
                                                <div class="controls">
                                                    <input type="text" class="float-label" value="0" name="verstatus">


                                                </div>

                                            </div>

                                        </div>
                                        <div class="row">
                                           <a href="javascript:void(0);" onclick="slideTable(-1)" style="color: #0000FF"><<门店信息</a>
                                        </div>
                                    </div>

                                    <br>

                                    <div class="row">
                                        <div class="col-sm-4 t-l">

                                        </div>

                                        <div class="col-sm-8 t-l">
                                            <button id="app-form-submit" type="submit"

                                                    class="button button-border-thin button-size-s button-bg-primary">
                                                <span th:text="#{fragment.button.submit.file}">提交资料</span>
                                            </button>
                                            <p class="response"></p>

                                        </div>

                                    </div>
                                    <!-- .row end -->


                                </form>
                            </div>
                            <!-- /.app-general-form-container -->


                            <!-- ///////////////////////   Content  End ////////////////////////// -->


                        </div>


                    </div>


                </div>
                <!-- .row end -->

            </div>
            <!-- .container end -->


        </section>

        <style>
            ::placeholder {
                color: rgba(0,0,0,.4);
                font-size: 1rem;
                text-indent: 1rem;
            }
        </style>


        <script type="text/javascript">
            var userName = getCookie("username");
            var passWord = getCookie("password");
            if(userName!=null){
                getLoginInfo(userName,passWord);
                // $("#username").attr({disabled:"disabled"});
                // $("#password").attr({disabled:"disabled"});
                $(".hideInput").css({display:"none"});
            }

            var currPage = 1;
            function slideTable(_num){
                $("#register01").css({"display":'none'});
                $("#register02").css({"display":'none'});
                $("#register03").css({"display":'none'});
                console.log( $("#register0"+(currPage+_num)))
                currPage = currPage+_num;
                $("#register0"+currPage).css({"display":'block'});

            }
            function getLoginInfo(_userName,_passWord){
                if(getCookie("username")!=null){

                    $.post('/agrr/returnInfo',{
                        username: _userName,
                        password: _passWord
                    },function (data) {
                        console.log("success")
                        setForm(data);

                    })
                }
            }
            function setForm(data){
               var $this =  $("#serviceForm");
               $.each(data,function(name,val){
                  // var $oinput = $this.find("input:[name=" + name + "]");
                   if(name=="country"){
                       $this.find("[name="+name+"]").val(data.addrs[0].country)
                   }else if(name=="province"){
                       $this.find("[name="+name+"]").html('<option value=\"省份\">'+data.addrs[0].province+'</option>')
                   }else if(name=="city"){

                       $this.find("[name="+name+"]").html('<option value=\"城市\">'+data.addrs[0].city+'</option>')

                       //$this.find("[name="+name+"]").attr({selected:"selected"});
                   }else if(name=="postCode"){
                       $this.find("[name="+name+"]").val(data.addrs[0].text.split("：")[1]);
                       console.log(data.addrs[0].text.split("：")[1])
                   }else if(name=="street"){
                       $this.find("[name="+name+"]").val(data.addrs[0].street)
                   }else{
                      // console.log(name+"= "+val)
                       $this.find("[name="+name+"]").val(val);
                   }

               })
            }

            (function ($) {
                "use strict";

                $(function () {

                    var addFormID = 1;
                    $( '.app-add-more-add' ).on( 'click', function( e ) {
                        e.preventDefault();



                        var newform = '';

                        newform += '<div class="row" id="more-add-form-'+addFormID+'">';
                        newform += '	<div class="col-sm-4 t-l"> 经营地址'+addFormID+' </div>';
                        newform += '	<div class="col-sm-8 t-l">';
                        newform += '		<div class="controls custom-select">';
                        newform += '			<label>';
                        newform += '				<select id="country'+addFormID+'" name="country">';
                        newform += '					<option value="中国" selected>中国</option>';
                        newform += '				</select>';
                        newform += '			</label>';
                        newform += '		</div>';
                        newform += '		<div class="controls custom-select">';
                        newform += '			<label>';
                        newform += '				<select id="province'+addFormID+'" name="province" placeholder="省份" data-ajax-dynamic-dd-json="/front_static/json/china.json" data-ajax-dynamic-dd-method="GET" data-ajax-dynamic-dd-event="change" data-ajax-dynamic-dd-data="" data-ajax-dynamic-dd-associated="#dynamic-dd-city'+addFormID+'">';
                        newform += '					<option value="">省份</option>';
                        newform += '				</select>';
                        newform += '			</label>';
                        newform += '		</div>';
                        newform += '		<div class="controls custom-select">';
                        newform += '			<label>';
                        newform += '				<select name="city" id="dynamic-dd-city'+addFormID+'" placeholder="城市">';
                        newform += '					<option value="">城市</option>';
                        newform += '				</select>';
                        newform += '			</label>';
                        newform += '		</div>';
                        newform += '		<div class="controls">';
                        newform += '			<input type="text" class="float-label" name="street" placeholder="街道">';
                        newform += '			';
                        newform += '		</div>';
                        newform += '		<div class="controls">';
                        newform += '				<input type="text" class="float-label reqiured" name="postCode">'
                        newform += '			<label>邮编</label>';
                        newform += '		</div>';
                        newform += '		<br>';
                        newform += '	</div>';
                        newform += '</div>';
                        newform += '<!-- .row end -->';

                        $( '#app-add-more--forms' ).after( newform );


                        $( document ).customSelectInit();

                        if ( App.dynamicDDList ) App.dynamicDDList.documentReady($);

                        addFormID++;

                    });


                    // Input Validation
                    $(document).on('submit', '.app-general-form-container form', function (e) {

                        var $form = $(this),
                            validationOK = true,
                            emailRe = /[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}/igm,
                            numReg = /^\d+$/;


                        //Email
//						var emailVal = $form.find( '[name="email"]' ).val();
//						if ( emailVal != '' && !emailRe.test( emailVal ) ) {
//							$form.find( '.response' ).html( '<span class="no"><i class="fa fa-times" aria-hidden="true"></i> 电子邮箱格式不正确！</span>' );
//
//							validationOK = false;
//						}


                        $form.find('.reqiured').each(function () {


                            if ($(this).val() == '') {

                                var info = $(this)
                                    .closest('.row')
                                    .find('.col-sm-4')
                                    .html()
                                    .replace(/(&nbsp;|<([^>]+)>|\*)/ig, '');

                                $form.find('.response').html('<span class="no"><i class="fa fa-times" aria-hidden="true"></i> "' + info + '" 不能为空！</span>');

                                $form.find('.response span').slideDown(300);

                                validationOK = false;
                                return false;

                            }


                        });
                        //alert($("#usernemTip").css("display"))
                        if($("#usernemTip").css("display")=="block"){
                            $form.find('.response').html('<span class="no"><i class="fa fa-times" aria-hidden="true"></i> 用户名已存在！</span>');
                            $form.find('.response span').slideDown(300);
                            validationOK = false;
                            return false;
                        }
                        if($("#username").val().length<4){
                            //console.log("->>>>>>>>>>"+$("#username").val())
                            $form.find('.response').html('<span class="no"><i class="fa fa-times" aria-hidden="true"></i> ' + ' 账户名需为大于四位的字母数字组合！</span>');
                            validationOK = false;
                            return false
                        }
                        var b = /^[0-9a-zA-Z]*$/g;
                       // alert(!b.test($("#username").val()))
                        if(!b.test($("#username").val())){
                            $form.find('.response').html('<span class="no"><i class="fa fa-times" aria-hidden="true"></i> ' + ' 账户名需为字母数字组合！</span>');
                            validationOK = false;
                            return false
                        }
                        //alert($("#password").val())
                        if($("#password").val().length<6){
                            console.log("->>>>>>>>>>"+$("#userid").val())
                            $form.find('.response').html('<span class="no"><i class="fa fa-times" aria-hidden="true"></i> ' + ' 密码需为大于六位的字母数字组合！</span>');
                            validationOK = false;
                            return false
                        }
                        //alert($("#password").val())
                        var b = /^[0-9a-zA-Z]*$/g;
                        if(!b.test($("#password").val())){
                            $form.find('.response').html('<span class="no"><i class="fa fa-times" aria-hidden="true"></i> ' + ' 密码需为字母数字组合！</span>');
                            validationOK = false;
                            return false
                        }
                        var myReg=/^[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.[a-zA-Z0-9]{2,6}$/;
                        if(!myReg.test($("#email").val())){
                            $form.find('.response').html('<span class="no"><i class="fa fa-times" aria-hidden="true"></i> ' + ' 邮箱格式不正确！</span>');
                            validationOK = false;
                            return false
                        }

                        $form.find('.response span').delay(3000).slideUp(300);



                        if (validationOK) {
                            return true;
                        } else {
                            return false;
                        }


                    });



                });


            })(jQuery);
            $("#username").blur(function(){
                var username = $(this).val();
                //alert(username)
                $.post('/agrr/checkStaff',{username:username},function(data){
                    //alert(data.message)
                    console.log(data.message)
                    if(data.message!="success"){
                        $("#usernemTip").css({display:"block"})
                    }else{
                        $("#usernemTip").css({display:"none"})
                    }


                })
            })
            if(userName!=null){
                getLoginInfo(userName,passWord);
            }
            function setCookie (name, value, day) {
                if(day !== 0){     //当设置的时间等于0时，不设置expires属性，cookie在浏览器关闭后删除
                    var expires = day * 24 * 60 * 60 * 1000;
                    var date = new Date(+new Date()+expires);
                    document.cookie = name + "=" + escape(value) + ";expires=" + date.toUTCString();
                }else{
                    document.cookie = name + "=" + escape(value);
                }
            };
            //读取cookies
            function getCookie(name) {
                var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");

                if (arr = document.cookie.match(reg))

                    return unescape(arr[2]);
                else
                    return null;
            }
            //删除cookies
            // function delCookie(name) {
            //     //alert(11111)
            //     var exp = new Date();
            //     exp.setTime(exp.getTime() - 60 * 60 * 1000);
            //     var cval = getCookie(name);
            //     alert(cval)
            //     if (cval != null)
            //         document.cookie = name + "=" + cval + ";expires=" + exp.toGMTString() + ";path=/";
            // }
            function delCookie (name) {
                setCookie(name, ' ', -1);
            };


        </script>


    </div>
    <!-- /#app-page-content-wrapper -->


    <!-- Footer
============================================= -->
    <footer class="footer-main-container" th:replace="front/fragment :: footer"></footer>


</div>
<!-- .wrapper end -->

<div th:replace="front/fragment :: js"></div>


</body>
</html>

    
