<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>

    <meta charset="utf-8">
    <meta name="description" content="Miminium Admin Template v.1">
    <meta name="author" content="he le wei">
    <meta name="keyword" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>福耀集团</title>
    <!-- start: Css -->
    <link rel="stylesheet" type="text/css" href="/manage_static/css/bootstrap.min.css">

    <!-- plugins -->
    <link rel="stylesheet" type="text/css" href="/manage_static/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/manage_static/css/simple-line-icons.css"/>
    <link rel="stylesheet" type="text/css" href="/manage_static/css/animate.min.css"/>
    <link rel="stylesheet" type="text/css" href="/manage_static/css/aero.css"/>
    <link href="/manage_static/css/style.css" rel="stylesheet">
    <!-- end: Css -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/manage_static/js/html5shiv.min.js"></script>
    <script src="/manage_static/js/respond.min.js"></script>
    <![endif]-->
</head>

<body id="mimin" class="dashboard form-signin-wrapper">

<div class="container">
    <form name="form" th:action="@{/login}" action="/login" method="POST" class="form-signin">

        <div class="panel periodic-login">
            <span class="atomic-number"></span>
            <div class="panel-body text-center">
                <h1 class="atomic-symbol"></h1>
                <p class="atomic-mass"><img src="/manage_static/images/logo.png" width="230"
                                            style="margin-bottom: 20px;">
                <p class="element-name"></p>

                <i class="icons icon-arrow-down"></i>
                <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input type="text" class="form-text" id="username" name="username">
                    <span class="bar"></span>
                    <label>用户名</label>
                </div>
                <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input type="password" name="password" id="password" autocomplete="off" class="form-text">
                    <span class="bar"></span>
                    <label>密码</label>
                </div>

                <!--<div class="form-group form-animate-text" style="margin-top:40px !important;">-->
                <!--<input type="text" id="captcha" class="form-text">-->
                <!--<span class="bar"></span>-->
                <!--<img src="/manage_static/images/code.jpg" id="captcha" style="vertical-align:middle; margin-top:10px;"/>-->
                <!--<label>验证码</label>-->
                <!--</div>-->


                <input type="submit" class="btn col-md-12" value="登录"/>
            </div>
            <div class="text-center" style="padding-bottom:0px;" id="errinfo"></div>
            <img src="/manage_static/images/login_info.png">
        </div>
    </form>

</div>

<!-- end: Content -->
<!-- start: Javascript -->
<script src="/manage_static/js/jquery.min.js"></script>
<script src="/manage_static/js/jquery.ui.min.js"></script>
<script src="/manage_static/js/bootstrap.min.js"></script>

<script src="/manage_static/js/moment.min.js"></script>

<!-- custom -->
<!-- end: Javascript -->
</body>
</html>