<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<head th:replace="manage/fragment :: head"></head>
<script type="text/javascript" src="/manage_static/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/manage_static/ckfinder/ckfinder.js"></script>
<body id="mimin" class="dashboard">
<nav th:replace="manage/fragment :: top"></nav>
<div class="container-fluid mimin-wrapper">
    <div th:replace="manage/fragment :: menu"></div>
    <!-- 中间部分 -->
    <div id="content">
        <div class="panel box-shadow-none content-header">
            <div class="panel-body cur_location_f">
                <div class="col-md-12 cur_location">
                    <p class="animated fadeInDown" id="location_title">AGRR合作 > AGRR服务商</p>
                </div>
            </div>
        </div>
        <div class="form-element" id="app">
            <div class="col-md-12 padding-0">
                <div class="panel form-element-padding">
                    <div class="panel-heading">
                        <h4>管理团队</h4>
                    </div>
                    <div class="panel-body" style="padding-bottom:30px;">
                        <form>
                            <div class="col-md-12">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">认证服务商类型</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->
                                        <input type="text" v-model="form.verifyType" class="form-control"/>
                                    </div>

                                </div>
                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">联系人姓名</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.name" class="form-control"/>
                                    </div>

                                </div>
                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">联系人电话</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.tel" class="form-control"/>
                                    </div>

                                </div>
                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">电子邮箱</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.email" class="form-control"/>
                                    </div>

                                </div>
                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">公司名称</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.companyName" class="form-control"/>
                                    </div>

                                </div>
                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">统一社会信用代码</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.companyCode" class="form-control"/>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">营业执照</label>
                                    <div id="shopcert" class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.shopCertAttachment.filePath" class="form-control"/>
                                        <!--iframe id="saveImg" src="E:\upload\18082352617.png" style="display:none;"></iframe-->
                                        <!--a id="download" href="" download="w3logo">下载</a-->
                                    </div>

                                </div>
                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">其他附件</label>
                                    <div id="shopBanner" class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.shopBannerAttachment.filePath" class="form-control"/>
                                        <!--a @click='download(form.shopBannerAttachment.filePath)'>下载</a-->
                                        <!--iframe id="saveImg" src="E:\upload\18082352617.png" style="display:none;"></iframe-->
                                        <!--a id="download" href="" download="w3logo">下载</a-->
                                    </div>

                                </div>

                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">店铺数量</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.shopCount" class="form-control"/>
                                    </div>

                                </div>
                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">主要门店面积（平方米）</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.shopSize" class="form-control"/>
                                    </div>

                                </div>
                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">主要门店仓库面积（平方米）</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.depotSize" class="form-control"/>
                                    </div>

                                </div>
                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">目前主营业务</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.serviceType" class="form-control"/>
                                    </div>

                                </div>
                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">有几个安装工位</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.slotCount" class="form-control"/>
                                    </div>

                                </div>
                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">有几个专业汽车玻璃安装技师</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.techCount" class="form-control"/>
                                    </div>

                                </div>
                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">有几辆工具车</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.tranCount" class="form-control"/>
                                    </div>

                                </div>

                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">有几辆工具车</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.tranCount" class="form-control"/>
                                    </div>

                                </div>

                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">上级经销商</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.distributor" class="form-control"/>
                                    </div>

                                </div>

                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">上级经销商代码</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.distributorCode" class="form-control"/>
                                    </div>

                                </div>

                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">法人代表</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.representative" class="form-control"/>
                                    </div>

                                </div>

                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">采购负责人</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.purchaser" class="form-control"/>
                                    </div>

                                </div>

                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">采购负责人电话</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.purchaserNumber" class="form-control"/>
                                    </div>

                                </div>

                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">经营年限</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.years" class="form-control"/>
                                    </div>

                                </div>

                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">门店性质(自有/租赁）</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.storeproperty" class="form-control"/>
                                    </div>

                                </div>

                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">房租/年/元</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.rent" class="form-control"/>
                                    </div>

                                </div>

                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">销售品牌</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.salesbrand" class="form-control"/>
                                    </div>

                                </div>

                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">销售辐射区域</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.salesarea" class="form-control"/>
                                    </div>

                                </div>

                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">目前主营业务</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.serviceType" class="form-control"/>
                                    </div>

                                </div>

                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">采购金额/年</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.purchase" class="form-control"/>
                                    </div>

                                </div>

                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">销售金额/年</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.sales" class="form-control"/>
                                    </div>

                                </div>

                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">采购片数/年</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.purchaseNumber" class="form-control"/>
                                    </div>

                                </div>

                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">主要采购渠道</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.stock" class="form-control"/>
                                    </div>

                                </div>

                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">主要采购渠道</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.channel" class="form-control"/>
                                    </div>

                                </div>

                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">库存片数</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.stock" class="form-control"/>
                                    </div>

                                </div>

                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">库存占比</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.stockRate" class="form-control"/>
                                    </div>

                                </div>

                                <div style="clear: both;"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">向终端车主销售加价率</label>
                                    <div class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.markupRate" class="form-control"/>
                                    </div>

                                </div>

                                <div style="clear: both;"></div>
                                <div class="form-group" v-for="(addr , index) in form.addrs">
                                    <label class="col-sm-2 control-label text-right">地址{{index==0 ? '' : index}}</label>
                                    <div class="col-md-6" >
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="addr.text" class="form-control"/>
                                    </div>

                                </div>
                                <div style="clear: both;"></div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right">合同文件</label>
                                    <div id="shopcontact" class="col-md-6">
                                        <!-- 隐藏域 id  -->

                                        <input type="text" v-model="form.shopContactAttachment.displayName" class="form-control"/>
                                        <!--a @click='download(form.shopBannerAttachment.filePath)'>下载</a-->
                                        <!--iframe id="saveImg" src="E:\upload\18082352617.png" style="display:none;"></iframe-->
                                        <!--a id="download" href="" download="w3logo">下载</a-->
                                    </div>

                                </div>

                            </div>
                        </form>
                        <form method="post" th:action="|/agrr/uploadContact|" enctype="multipart/form-data">

                        <div class="form-group">
                            <input type="file" id="contactfile01" name="contactfile01">
                            <!--label tabindex="0" for="otherfile" class="controls-file-trigger"
                            ><i class="fa fa-cloud-upload"
                                aria-hidden="true"></i>上传店铺图片等其他资料</label-->
                            <!--<input type="input" id="contactid" name="contactid">-->
                        </div>
                        <div class="form-group" style="display: none;">

                            <input type="input" id="contactid" name="contactid">
                            <input type="input" id="serviceid" name="serviceid">
                        </div>
                        <div style="clear: both;"></div>
                        <div class="form-group">
                            <!--label class="col-sm-2 control-label text-right"></label-->
                            <div class="col-md-6">
                                <input style="margin-left:10px;" class="btn btn-info ml10" type="submit"
                                       onclick="" value="确定"/>
                                <input style="margin-left:10px;" class="btn btn-alert ml10" type="button"
                                       onclick="goBack()" value="返回"/>
                            </div>

                        </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 中间部分 结束-->
</div>
<div th:replace="manage/fragment :: js"></div>
<script>
    function goBack(){
        window.location.href='/manage/service';
    }
    var app = new Vue({
        el: '#app',
        data: {
            form: {
                shopCertAttachment:{
                    filePath:""
                },
                shopBannerAttachment:{
                    filePath:""
                },
                shopContactAttachment:{
                    filePath:""
                }

            }
        },
        methods: {
            get: function () {
                var this_vue = this;
                var id = this.$tools.requestParam("id");
                if (id == null || typeof id == 'undefined') {
                    return;
                }
                var this_vue = this;
                this.$api.base.query('agrr', {id: id}, function (res) {
                    var agrr = res.objs[0];
                    this_vue.form = agrr;
                    //console.info(typeof(this_vue.form.shopCertAttachment.filePath))

                    $("#shopcert").append("<a href='/uploads/stream/"+this_vue.form.shopCertAttachment.filePath+"'download='banner'>下载</a>")
                    $("#shopBanner").append("<a href='/uploads/stream/"+this_vue.form.shopBannerAttachment.filePath+"' download='banner'>下载</a>")
                    //$("#download").attr("href",agrr.shopCertAttachment.filePath.replace("/root",""))
                    $("#contactid").val(res.objs[0].shopContactAttachment.id)
                    console.log(res.objs[0].shopContactAttachment.id)
                    $("#serviceid").val(res.objs[0].id)
                    console.log(agrr.id)
                    //$("#contactfile").val("------");
                    console.info(this_vue.form);
                })
            },
            "download" : function(_url){
                $.post('/app/rest/agrr/download',{
                    "url":'/uploads/'+_url
                },function(){

                },'json')
            },
            "upload":function (_url) {
                
            }
        },

        created: function () {
            this.get();
        }
    });
    function jump2next(id, event) {
        var _locale = event.target.dataset.locale || locale;
        location.href = get_href(id, _locale);
    }

</script>

</body>

</html>